header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

ul li {
    display: flex;
    margin-right: 25px;
    align-items: center;
  
}

#menu-icon {
  display: none;
}

header > ul > li > button {
  width: 120px;
  height: 36px;
  background-color: #4c89e3;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.container-main {
  display: flex;
  flex-direction: column; 
}

#google_img {
  margin: 0 auto;
  width: 272px; 
}

form {
  margin: 0 auto; 
}

.text-area {
  width: 582px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.459);
  border-radius: 30px;
  padding-left: 20px;
}

.btn-pesquisa {
  width: 135px;
  margin-right: 5px;
  height: 35px;
  border: none;
  border-radius: 5px; 
}

.btn-sorte {
  width: 135px;
  margin-left: 5px;
  height: 35px;
  border: none;
  border-radius: 5px; 
}

.btn-pesquisa:hover {
  border: 1px solid grey; 
}

.btn-sorte:hover {
  border: 1px solid grey; 
}

.buttons {
  margin: 30px auto;
  text-align: center; 
}

@media only screen and (max-width: 600px){
    
    .text-area {
      width: 300px;
  }

  header {
    justify-content: space-around;
  }
  
  header > ul > li > button {
    width: 67px;
    height: 24px;
    font-size: 9px;    
  }

  ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
    padding: 0 13px;
  }

  #menu-icon {
    display: block;
  }
       
  }